// Colors
$primary-color: #5b5fc7;
$secondary-color: #646cff;
$text-color: #888;

// Layout
$sidebar-width: 250px;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// Font families
$font-primary: 'Roboto', sans-serif;
$font-system: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 