* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: $font-system;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  
  @include dark-mode {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
} 