h1 {
  @apply text-4xl font-bold;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

p {
  @apply text-base leading-relaxed;
}

a {
  font-weight: 500;
  color: $secondary-color;
  text-decoration: inherit;
  
  &:hover {
    color: darken($secondary-color, 10%);
  }
} 